<mat-grid-list #csvGridListMaster cols="10" class="csvGridList">
    <span *ngIf="loadInitial">
        <mat-grid-tile colspan="6" rowspan="1" class="csvGridListHeader">
            <app-file-upload-button (fileRequest)="handleFileRequest($event)"></app-file-upload-button>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1" class="csvGridListHeader">
            <mat-checkbox class="csvGridGeocodeCheckbox" [(ngModel)]="geocodeAddress">Geocode Address?</mat-checkbox>
        </mat-grid-tile>
    </span>
    <span *ngIf="!loadInitial">
        <mat-grid-tile colspan="1" rowspan="1" class="csvGridListHeader">
            <span *ngIf="loadComponent" class="csvGridTileAlignLeft">
                <button mat-icon-button="mat-icon-button" #csvBtnReset color="primary" class="csvButton csvGridTileFloatLeft">
                    <mat-icon class="csvButtonIcon" style="vertical-align: baseline;"
                        (click)="handleResetClick($event)">replay</mat-icon>
                </button>
                <button mat-icon-button="mat-icon-button" #csvBtnShare color="primary" class="csvButton csvGridTileFloatLeft" *ngIf="isDataValid">
                    <mat-icon class="csvButtonIcon" style="vertical-align: baseline;"
                        (click)="handleShareClick($event)">share</mat-icon>
                </button>
            </span>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="1" class="csvGridListHeader">
            <span *ngIf="loadComponent && loadMMSISync">
                <mat-form-field appearance="fill" style="height: 24px;width: 80%;">
                    <mat-label>Layers</mat-label>
                    <mat-select (selectionChange)="handleLayerSelected($event)">
                        <mat-option *ngFor="let layer of mmsiLayers" [value]="layer.uuid">
                            {{layer.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button="mat-icon-button" #csvBtnRefresh color="primary" class="csvButton">
                    <mat-icon class="csvButtonIcon" style="vertical-align: baseline;"
                        (click)="handleLayerRefresh($event)">update</mat-icon>
                </button>
            </span>
        </mat-grid-tile>
        <mat-grid-tile colspan="5" rowspan="1" class="csvGridListHeader csvGridTileOverflowUnset">
            <span *ngIf="loadComponent && isDataValid" class="csvGridTileAlignRight">
                <span *ngIf="loadComponent">
                    <mat-form-field appearance="fill" style="height: 24px;width: 40%;">
                        <mat-label>Search for</mat-label>
                        <input matInput type="text" [(ngModel)]="searchValue" (keydown)="handleSearch($event)">
                    </mat-form-field>
                    <button mat-icon-button="mat-icon-button" #csvBtnSearch color="primary" class="csvButton">
                        <mat-icon class="csvButtonIcon" style="vertical-align: baseline;" (click)="handleSearchClear($event)">clear</mat-icon>
                    </button>
                </span>
                <span>
                    <button mat-icon-button="mat-icon-button" #csvBtnMap color="primary" class="csvButton csvGridTileFloatRight">
                        <mat-icon class="csvButtonIcon" (click)="handleMapClick($event)">map</mat-icon>
                    </button>
                    <mat-form-field appearance="fill" class="csvGridTileFloatRight" style="height: 24px;width: 20%;">
                        <mat-label>Map</mat-label>
                        <mat-select (selectionChange)="handleMapSelected($event)" [(value)]="mapSelected">
                            <mat-option *ngFor="let map of mapList" [value]="map.id">
                                {{map.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
                <button mat-icon-button="mat-icon-button" color="primary" class="csvButton csvGridTileFloatRight">
                    <mat-icon #csvBtnZoom class="csvButtonIcon" [class.not-active]="!isZoom" (click)="handleZoomClick($event)">my_location</mat-icon>
                </button>
                <button mat-icon-button="mat-icon-button" color="primary" class="csvButton csvGridTileFloatRight">
                    <mat-icon #csvBtnLabel class="csvButtonIcon" [class.not-active]="!isLabel" (click)="handleLabelClick($event)">label</mat-icon>
                </button>
                <button mat-icon-button="mat-icon-button" #csvBtnLabel color="primary" class="csvButton csvGridTileFloatRight">
                    <mat-icon class="csvButtonIcon" [style.color]="color" [cpPosition]="'bottom'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true"
                        [(colorPicker)]="color" [cpPosition]="'bottom-left'">color_lens</mat-icon>
                </button>
            </span>
        </mat-grid-tile>
    </span>
</mat-grid-list>
<app-csv-grid *ngIf="loadComponent" [parentFileName]="filename" [parentData]="records" [parentMessage]="searchValue" 
    [parentColor]="color" [parentGeocode]="geocodeAddress" [parentMapId]="mapId"></app-csv-grid>
