<mat-grid-list #csvGridList cols="10" class="csvGridList">
  <mat-grid-tile colspan=1 rowspan=1 style="background:blue">1</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:yellow">2</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:blue">3</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:yellow">4</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:blue">5</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:yellow">6</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:blue">7</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:yellow">8</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:blue">9</mat-grid-tile>
  <mat-grid-tile colspan=1 rowspan=1 style="background:yellow">10</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" class="csvGridContent">
  <mat-grid-tile colspan=1 rowspan=1 style="background:green">CONTENT</mat-grid-tile>
</mat-grid-list>
