<div style="width: 100%; height: calc(100vh - 70px);">
    <span #queryStatus [ngStyle]="divQueryStatusCss">
      {{queryStatusMessage}}
    </span>
    <div #layerExport id="layerExport" [ngStyle]="divLayerExportCss" (click)="handleExportClick($event)">
      <img src="{{layerExportImageSrc}}" title="Export data..."
        style="width:20px;height:20px;padding:1px;margin-left:5px;">
      <span *ngIf="recordsSelected > 0" style="white-space: nowrap;color: darkslategray;">&nbsp;&nbsp;[Selected - 
        <label>{{recordsSelected}}]</label>
      </span>
    </div>
    <ag-grid-angular #agGridCSV class="ag-theme-balham" [rowData]="rowData" 
      [columnDefs]="columnDefinitions" [getRowStyle]="getRowStyle" [domLayout]="domLayout" [pagination]="true"
      [paginationNumberFormatter]="paginationNumberFormatter" [paginationPageSize]="paginationPageSize"
      [suppressScrollOnNewData]="true" (gridReady)="handleGridReady($event)" (firstDataRendered)="handleFirstDataRendered($event)"
      [rowSelection]="rowSelection" (rowClicked)="handleRowClicked($event)" 
      style="width: 100%; height: 100%">
    </ag-grid-angular>
  </div>